 body {
      margin:0;
      

    }
#theImage{
    float:left;
    height:654px;
    width:700px;
    
    }
#top{
    font-family: 'Manrope', sans-serif;
    color:hsl(217, 19%, 35%);
    float:right;
    width:600px;
    height:200px;
    padding:0 20px;
    margin-top:70px;
    margin-bottom:-50px;

   }
#mid{
    color:hsl(212, 23%, 69%);
    
    float:right;
    width:560px;
    height:100px;
    padding:0 40px 0 20px;
    margin-right:17px;
    font-size:23px;
}
#bend{

    
    width:200px;
    position:absolute;
    right:300px;
    top:400px;

    
  }

#end{
    width:200px;
    position:absolute;
    right:300px;
    top:450px;
    color:hsl(212, 23%, 69%)
  }
#w{
  position:absolute;
  top:50px;
  right:-130px;
  width:45px;


}
#b{
  position:absolute;
  top:50px;
  right:-130px;
  width:45px;
  display:none;
}
#theLast{
  position:absolute;
  top:410px;
  right:520px;
  border-radius:100px;
}

.all{
  position:absolute;
  top:430px;
  left:1100px;
}

.myShare{
background-color:hsl(210, 46%, 95%);
 padding: 10px;
  font-size: 10px;
  border-radius:100px;
  position:absolute;
  left:105px;
  z-index:1;
  transition:all 1s ease;
}
.bagr{
  background-color:hsl(217, 19%, 35%);
}


.some{
  display:none;
  background-color:hsl(217, 19%, 35%);
  margin-top:-70px ;
  padding:15px 20px 15px 20px;
    border-radius:20px;
    
}
.mobile{
display:none;
  background-color:hsl(217, 19%, 35%);
  margin-top:-10px ;
  padding:15px 20px 15px 20px;
    border-radius:10px;


}

.some::after{
    content: "";
     border-top: 15px solid hsl(217, 19%, 35%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    
    left: 50%;
    transform: translate(-50%);
    bottom: 1px;
   


}


.some a{
 padding-right:20px;
}
.shar{
  text-decoration:none;
  color:white;
  padding:10px 0px 0px -20px;
  
}

.show{
  display:block;
}

.sharecolor{
  fill:hsl(217, 19%, 35%);
}

.new{
  fill:hsl(210, 46%, 95%);
}




@media only screen and (max-width:500px){
  body {
    
  }
#theImage{
    height:250px;
    width:492px;
    }
    
#top{
  
    font-size:25px;
    width:400px;
    height:100px;
    padding:0 0  0 30px;
    margin:50px 30px 50px 0 ;
    
}
#mid{ 
 
   font-size:20px !important;
    width:390px;
    height:100px;
    padding:15px 30px 0px 20px;
    margin: -40px 10px 0 0 ;
    font-size:23px;
}

#bend{
    width:200px;
    font-size:18px;
    position:absolute;
    right:200px;
    top:550px;
  }
#end{
    width:200px;
    position:absolute;
    right:200px;
    top:595px;

  }
#theLast{
  position:absolute;
  width:50px;
  height:50px;
  top:569px;
  right:415px;
  border-radius:100px;
}

.all{
  position:absolute;
  top:580px;
  left:0px;
}

.myShare{
background:hsl(210, 46%, 95%);
 padding: 10px;
  font-size: 10px;
  border-radius:100px;
  position:absolute;
  left:400px;
  top:11px;
  z-index:1;
  fill:red !important;
}

.bagr{
  background-color:hsl(214, 17%, 51%);

}

.some{
  
  background-color:hsl(217, 19%, 35%);
  margin-top:-13px ;
  width:450px;
  height:35px;
  padding:30px 20px 10px 30px;
    border-radius:0px;

}

.some a{
 padding-right:50px;
  position:relative;
 top:-0px;
}

.shar {
 position:relative;
 top:-5px !important;

}



.some::after{
display:none;
}



}